@import 'GlobalStyle';

.score {
    display: block;
    padding: 0 0 0 1rem;

    color: $red;
    font-size: 1rem;
    font-weight: lighter;
    @include light_neon;

    span{
        display: inline-block;
        color: $lightRed;
    }
}

@keyframes score_increment{

    0%{
        @include light_neon;
        transform: scale(1);
    }


    100%{
        text-shadow: 0 1px $red, 0 0 1px $red, 0 0 2px $red, 0 0 4px $red, 0 0 7px $red, 0 0 16px $red;
        transform: scale(1.7);
    }
}