@import 'GlobalStyle';

.score {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    height: 1.2rem;
    padding: 0 0 0 1rem;
    transform: translateX(-0.3rem);

    color: $red;
    font-size: 1rem;
    font-weight: lighter;

    
    @include light_neon;

    .first-letter{
        font-size: 2rem;
        transform: translateY(-1rem);
    }

    .value{
        display: inline-block;
        color: $lightRed;
    }
}

@keyframes score_incrementing{

    0%{
        @include light_neon;
        transform: scale(1);
    }


    100%{
        text-shadow: 0 1px $red, 0 0 1px $red, 0 0 2px $red, 0 0 4px $red, 0 0 7px $red, 0 0 16px $red;
        transform: scale(1.7);
    }
}