@import 'GlobalStyle';

.word{
    display: inline-block;
    padding: 0rem 0 0.5rem 0.5rem;
    min-width: 30%;
    min-height: 2rem;
    text-align: center;
    font-weight: lighter;
    color: $red;
    text-shadow: 0 0 1px $red, 0 0 1px $red;
    transform-origin: bottom center;
}

@keyframes word_spawn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes word_living{
    0%{
        color: $red;
        text-shadow: 0 0 1px $red, 0 0 1px $red, 0 0 1px $red, 0 0 1px $red, 0 0 1px $red, 0 0 1px $red;
        transform: scale(1);
    }
    100%{
        color: $lighterRed;
        text-shadow: 0 0 1px $red, 0 0 1px $red, 0 0 3px $red, 0 0 6px $red, 0 0 12px $red, 0 0 23px $red;
        transform: scale(1.3);
    }
}

@keyframes word_validated{
    0%{
        opacity: 0;
    }
    1%{
        opacity: 100;
    }

    12%{
        opacity: 0;
    }
    13%{
        opacity: 100;
    }

    15%{
        opacity: 0;
    }
    16%{
        opacity: 100;
    }

    25%{
        opacity: 0;
    }
    30%{
        opacity: 100;
    }

    50%{
        opacity: 0;
    }
    52%{
        opacity: 100;
    }

    60%{
        opacity: 0;
    }
    61%{
        opacity: 100;
    }

    90%{
        opacity: 0;
    }
    95%{
        opacity: 100;
    }

    99%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

@keyframes word_near_escape{

    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}