@import 'GlobalStyle';

.word-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-grow: 4;

    width: 100%;
    padding : 0 0.5em;
}