@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow/BarlowSemiCondensed-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow/BarlowSemiCondensed-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow/BarlowSemiCondensed-ExtraLight.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Code";
    src: url("/fonts/Code/CODE Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Code";
    src: url("/fonts/Code/CODE Light.otf");
    font-weight: lighter;
}

@font-face {
    font-family: "Giorgio";
    src: url("/fonts/Giorgio/Giorgio.ttf");
    font-weight: normal;
}

$fontSize: 11px;
$fontBasic: "Barlow";
$fontFancy: "Code";
$fontTitle: "Giorgio";

$black: #231F20;
$grey: rgb(161, 138, 136);
$red:  rgb(189, 64, 68);
$transparentRed: rgba(189, 64, 68, 0);
$lightRed: rgb(243, 126, 130);
$lightRedTransparent: rgba(243, 126, 130, 0.411);
$lighterRed: rgb(248, 194, 196);

@mixin light_neon{
    text-shadow: 0 0 1px $red, 0 0 1px $red;
}

@keyframes opacity_blink{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}