@import 'GlobalStyle';

* {
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
    font-family: $fontBasic;
}

body {
    background-color: $black;
}

@media (min-device-width: 300px) and (min-device-height: 440px)
{
    html{
        font-size: $fontSize * 1.5;
    }
}

@media(min-device-width: 479px) and (min-device-height: 552px)
{
    html{
        font-size: $fontSize * 2;
    }
}

@media(min-device-width: 576px) and (min-device-height: 604px)
{
    html{
        font-size: $fontSize * 2.3;
    }
}

