@import 'GlobalStyle';

#board {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    width: 100%;
    padding: 0.5em;

    .board-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 50%;
    }

    .border-left
    {
        border-left: 2px solid rgb(51, 45, 45);
    }
}