@import 'GlobalStyle';

#HUD {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .HUD-container {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: stretch;
        align-content: flex-start;
        
        height: 100%;
    }
}