@import 'GlobalStyle';

#HUD {
    display: block;

    width: 100%;
    min-height: 100px;

    .HUD-container {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: stretch;
        align-content: flex-start;
        
        height: 100%;
    }
}