@import 'GlobalStyle';

#input-text-mobile{
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 0.3rem 0;

    #keyboard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .keyboard-line {
            display: flex;
            justify-content: stretch;
            min-width: 100%;
        }
    }
}