@import 'GlobalStyle';

.pseudo {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    color: $red;
    font-weight: lighter;
    font-family: $fontTitle;
    padding: 0 0 0 1rem;
    font-size: 1.3rem;
    transform: translateX(-0.35rem);

    .first-letter{
        font-size: 2rem;
        color: $lightRed;
    }
}